@layer layout {
  .item {
    cursor: pointer;
    display: flex;
    gap: 4px;
    align-items: center;
    padding: 4px 8px;
    font-weight: 400;

    &.hovered, &:hover {
      background-color: var(--bg);
      filter: brightness(1.25);
    }

    &.active {
      background-color: var(--bg-light);
    }

    &.hidden {
      display: none;
    }

    .icon-wrapper {
      transition: margin .2s;
      width: 1.25em;
      display: flex;
      gap: 4px;
      align-items: center;

      svg {
        width: 1.25em;
        height: 1.25em;
      }
    }

    .order {
      position: relative;
      height: 1.25em;
      width: 1.25em;
      font-weight: 900;
      text-shadow: 0 0 3px var(--text);
      background-color: var(--text);
      color: var(--bg-light);
      border-radius: 100px;
      margin-left: auto;

      span {
        position: absolute;
        left: 50%;
        top: 50%;
        translate: -50% -50%;
        text-box: trim-both cap alphabetic;
      }
    }
  }
}
