@layer layout {
  .grid-reel-auto-fill {
    padding-block: 16px;
    --spill-ratio: 1;
    --padding: 64px;
    --spill-ration-correction-padding: 0px;
    --gap: 48px;
    --line-clamp: 2;
    overflow-y: clip;
    scrollbar-width: none;

    @media (width < 40em) {
      --padding: 16px;
      --gap: 8px;
    }
  }
}
