@layer layout {
  section {
    display: grid;
    gap: .25rem;

    > _.header {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }

    .grid-reel-auto-fill {
      margin-inline: -16px;
      --spill-ratio: 1;
      --padding: 16px;
      --spill-ration-correction-padding: 0px;
      --gap: 16px;
    }
  }
}
