@layer layout {
  .header {
    display: grid;
    grid-template-columns: auto auto;
    gap: 16px;
    max-width: calc(192px + 75ch);
    margin-inline: auto;
    margin-bottom: 16px;

    img {
      width: 192px;
      grid-row: span 2;
    }

    > div {
      display: grid;
      gap: 16px;
    }

    > .grid {
      grid-template-columns: 1fr auto;
      align-items: start;
    }

    @media (width < 720px) {
      grid-template-columns: unset;
      justify-items: center;

      .grid {
        order: -1;
        grid-template-columns: unset;
        justify-items: center;
        text-align: center;
      }
    }
  }

  details {
    &[open] + & {
      margin-top: 32px;
    }

    summary {
      position: sticky;
      top: 48px;
      cursor: pointer;
      display: grid;
      grid-template-columns: 7ch 1fr 7ch;
      place-items: center;
      padding: 8px;
      z-index: 1;
      gap: 16px;

      details & {
        background-color: var(--bg);
        &::before {
          content: "[closed]";
        }
      }

      details[open] & {
        background-color: var(--bg-light);
        &::before {
          content: "[open]";
        }
      }
    }
  }
}
