@layer layout {
  .grid-reel-auto-fill {
    --grid-max-column-count: 5.5;
    --grid-column-width: 9rem;
    padding-bottom: 1rem;
    background-color: var(--background-350);

    li {
      width: 100%;
      aspect-ratio: 5.5/8;
    }

    .cover-image {
      position: relative;
      width: 100%;
      height: 100%;
      object-fit: cover;
      background-color: var(--background-500);
    }
  }
}
