@layer layout {
  li {
    position: relative;

    img {
      aspect-ratio: 5.5/8;
      width: 100%;
      object-fit: cover;
    }

    &:not(_:hover, _:has(_:focus-visible)) _.cp-delete-favourite {
      left: 0px;
      width: 0px;
      opacity: 0;
      pointer-events: none;
      user-select: none;
    }
  }
}

