@layer layout {
  li {
    position: relative;

    img {
      aspect-ratio: 5.5/8;
      width: 100%;
      object-fit: cover;
    }

    &:not(_:hover, :has(_:focus-visible)) _.cp-delete-favourite {
      display: none;
    }
  }
}

