@layer layout {
  .user-profile-favourites {
    display: grid;
  }

  .user-profile-favourites-details {
    &:not([open]) {
      summary {
        background-color: var(--background-300);
      }
      button {
        display: none;
      }
    }
    summary {
      position: sticky;
      top: 3rem;
      padding: 1rem;
      background-color: var(--background-400);
      z-index: 1;
      h3 {
        display: inline;
      }

      button {
        margin-left: 1rem;
      }
    }

    ol {
      list-style: none;
      padding: 0;
      gap: 1rem;
    }
    li {
      position: relative;
    }

    .reorder {
      touch-action: none;
      &:has(.dragging) {
        cursor: grabbing;
      }
      li {
        cursor: grab;
        &.dragging {
          pointer-events: none;
          user-select: none;
          z-index: 1;
        }

        * {
          pointer-events: none;
          user-select: none;
        }
      }

      .profile-favourites-delete-button {
        display: none;
      }
    }

    .grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
    }

    .flex {
      display: flex;
      flex-wrap: wrap;
      font-size: 1rem;
      li {
        padding: 1rem;
        background-color: var(--background-500);
      }
    }

    img {
      aspect-ratio: 5.5/8;
      width: 100%;
      object-fit: cover;
    }

    li:not(:hover, :focus-within) .profile-favourites-delete-button {
      display: none;
    }
  }

  .profile-favourites-delete-button {
    position: absolute;
    right: 0px;
    top: 0px;
    transform: translate(20%, -50%);
    z-index: 1;
  }
}

@layer resize {
  @media (width < 35em) {
    .user-profile-favourites-details ol {
      gap: .5rem;

      &.flex li {
        padding: .5rem;
      }
    }
  }
}
