.pg-media-info-jikan {
  margin-top: 16px;
  width: min(100% - 1rem, 80rem);
  margin-inline: auto;
  display: grid;
  grid-template-columns: 15rem 1fr;
  gap: 16px;

  > * {
    display: grid;
    gap: 1rem;
    height: fit-content;
  }

  > .left > div {
    background-color: var(--background-400);
  }


  .relations {
    li {
      background-color: var(--background-400);
      padding: .5rem 1rem;
      border-radius: .25rem;
    }

    _a {
      color: inherit;
      text-decoration: none;
    }

    .name {
      font-weight: 600;
    }

    .type {
      color: var(--text-300);
    }
  }
}

.pg-media-jikan-desc {
  display: grid;
  gap: 16px;
}

.time {
  position: absolute;
  transform: translateY(-50%);
}
