@layer layout {
  .user-profile-overview-body {
    display: grid;
    margin-top: 1rem;
    grid-template-columns: minmax(29rem, 2fr) 3fr;
    gap: 1rem;
    align-items: start;
  }

  .user-info-container {
    display: grid;
    gap: 2rem;

    > div {
      background-color: var(--background-400);
    }
  }
  .user-activity-container {
    display: grid;
    gap: 2rem;
  }

  .user-profile-activity {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: .5rem 1rem;

    .activity-card-text,
    .activity-card-text ~ .activity-card-media:nth-child(odd):has(+ .activity-card-text) {
      grid-column: 1/-1;
    }
  }

  .user-profile-progress {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    flex-wrap: wrap;

    .container {
      display: flex;
      gap: 1rem;
      justify-content: space-around;
      flex: 1;
      background-color: var(--background-400);
      padding: .5rem;
      flex-wrap: wrap;
      flex-basis: min(20rem, 100%);
    }

    .header {
      font-size: 1.25rem;
      font-weight: 600;
    }
  }
  .profile-progress-item {
    text-align: center;
    flex: 1;
  }

  .user-profile-genres {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .user-genres-overview {
    flex: 1;

    ol {
      padding: 0;
      list-style: none;
      display: grid;
      gap: .25rem;
    }

    .item {
      background-color: var(--background-400);
      padding-inline: .5rem;

      span {
        float: right;
      }
    }
  }

  .user-favourites {
    container-type: inline-size;
    container-name: user-favourites;

    .grid-reel-auto-fill {
      --grid-column-width: 10rem;
    }

    .item img {
      width: 100%;
      height: 100%;
      aspect-ratio: 5.5/8;
      object-fit: cover;
    }
  }

  .user-favourites-studio {
    ol {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      padding: 1rem;
      gap: 1rem;
    }
  }
}

@layer resize {
  @media (width < 55em) {
    .user-activity-container,
    .user-info-container {
      display: contents;

      > * {
        order: 4;
      }
    }

    .user-profile-progress,
    .user-profile-genres {
      order: 0;
    }

    .user-profile-overview-body {
      grid-template-columns: 1fr;
    }
  }

  @media (width >= 55em) {
    .user-favourites .grid-reel-auto-fill {
      grid-template-columns: repeat(5, 1fr);
      grid-auto-flow: row;
      padding: .5rem;
    }
  }

  @media (width < 35em) {
    .user-profile-activity {
      grid-template-columns: 1fr;
    }
  }
}
