@layer layout {
  .user-profile-stats-page {
    display: grid;
    position: relative;
    width: 100%;
    grid-template-columns: 11rem 1fr;
    gap: 1rem;

    .content {
      overflow: auto;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
}

@layer resize {
  .user-profile-stats-general-header {
    @container user-profile-stats-header (max-width: 73em) {
      grid-template-columns: repeat(3, 1fr);
    }

    @container user-profile-stats-header (max-width: 50em) {
      grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
    }
  }

  @media (width < 55em) {
    .user-profile-stats-page {
      grid-template-columns: 1fr;
    }
  }
}
