.pg-home {
  margin-inline: auto;
  width: min(100%, 80rem);
  display: grid;
  gap: 10px;

  _.cp-loader-circle {
    left: 50%;
    transform: translateX(-50%);

    &.refresh {
      position: absolute;
      z-index: 1;
      margin-top: 3rem;
    }

    &.new {
      margin-top: 1rem;
    }
  }
}


.cp-current-card-info {
  background-color: var(--shadow-400);
  padding-block: .75em 1rem;
  position: absolute;
  width: 100%;
  bottom: 0px;
  text-align: center;
  font-size: .75rem;
  overflow: hidden;
}

.cp-current-card-hover-info {
  background-color: var(--shadow-400);
  padding-block: .75em;
  position: absolute;
  width: 100%;
  bottom: 0px;
  text-align: center;
  font-size: 0.75rem;
  opacity: 0;
  font-weight: 700;
  overflow: hidden;
  border: none;
  border-radius: 0;
  border-bottom-right-radius: inherit;
  border-bottom-left-radius: inherit;

  &.normal {
    font-size: .9rem;
    font-weight: 500;
  }

  &:hover {
    background-color: var(--shadow-300);
  }

  .plus {
    font-size: 1rem;
  }
}

