@layer layout {
  .pg-compare {
    width: min(100% - 1rem, 140rem);
    display: grid;
    gap: 1rem;
    margin-inline: auto;
  }
  .pg-compare-user-search {
    position: relative;
    margin: auto;
    width: min(100% - 1rem, 20rem);

    input {
      padding: .5rem 1rem;
      font-size: var(--fs-500);
      width: 100%;
    }

    ol {
      position: absolute;
      width: 100%;
      list-style: none;
      padding: 0;
      max-height: 20rem;
      overflow: auto;
      z-index: 2;
    }

    li {
      display: grid;
      gap: .25rem;
      grid-template-columns: 2rem 1fr;
      background-color: var(--background-400);
      align-items: center;
      cursor: pointer;

      &.selected {
        background-color: var(--background-700);
      }
    }

    img {
      aspect-ratio: 1/1;
      width: 100%;
      height: 100%;
      object-fit: cover;
      background-color: var(--background-300);
    }
  }

  .pg-compare-users {
    display: grid;
    grid-template-columns: 3rem auto auto auto auto;
    justify-content: center;
    gap: .5rem 1rem;
    padding: 0;

    li {
      display: grid;
      grid-template-columns: subgrid;
      grid-column: 1 / -1;
      background-color: var(--background-400);
      padding: .5rem 1rem;
      border-radius: .25rem;
      align-items: center;
      --loader-size: 2rem;
      --loader-border-size: .35rem;
      transition: opacity .2s, filter .2s, background-color .2s;

      &:hover {
        z-index: 1; // Fix tooltip z-index that filter breaks;
      }

      &.disabled {
        filter: grayscale(1) brightness(.75);

        &::after {
          content: "";
          position: absolute;
          width: calc(100% - 1rem);
          left: 50%;
          transform: translateX(-50%);
          height: .2rem;
          background-color: var(--background-800);
          pointer-events: none;
          opacity: .5;
        }
      }

      &.exclude:not(.disabled) {
        background-color: var(--red-100);
      }
    }


    img {
      aspect-ratio: 1/1;
      width: 100%;
      border-radius: .25rem;
    }

    .error {
      grid-column: 1/-2;
    }
  }

  .pg-compare-filter-panel {
    width: min(100% - 1rem, 40rem);
    display: grid;
    align-content: start;
    gap: 0.25rem;
    margin: auto;
  }

  .pg-compare-content {
    width: 100%;
    gap: 1rem;
    --grid-column-width: 32rem;

    &:not(.loading) {
      .cp-loader-circle {
        opacity: 0;
        visibility: hidden;
      }
    }
    .cp-loader-circle {
      position: absolute;
      z-index: 1;
      justify-self: center;
      margin-top: 5rem;
      transition: all .2s;
      transition-behavior: allow-discrete;
      --loader-size: 5rem;
      --loader-border-size: .5rem;
    }

    &.loading {
      .cp-loader-circle {
        transition-delay: .2s;
      }

      .pg-compare-media-card {
        opacity: .5;
        transition-delay: .2s;
      }
    }
  }

  .pg-compare-media-card {
    transition: opacity .2s;
    &:has(.cover-link:hover) {
      .bg {
        filter: brightness(90%) grayscale(10%);
        opacity: 80%;
        scale: 1.01;
      }
    }
    .wrapper {
      background-color: color-mix(in oklch, var(--background-400), var(--color, var(--neutral-color-60)) 30%);
      position: relative;
      isolation: isolate;
      display: grid;
      grid-template-columns: auto 1fr;
      min-height: 16rem;
      height: 16rem;
      padding: .5rem;
      border-radius: .5rem;
      gap: 1rem;

      @container (width < 32rem) {
        gap: .5rem;
        height: auto;

        .bg {
          height: 13rem;
        }

        .cover-wrapper {
          grid-row: 1/3;
          height: 12rem;
        }

        .header {
          padding: .25rem;
        }
        .footer {
          padding: .5rem;
        }

        .name {
          flex-wrap: wrap;
          grid-column: 1;
        }

        .status {
          grid-column: 1;
          grid-row: 1;
        }

        .pg-compare-card-content {
          display: contents;
        }

        .pg-compare-media-users {
          grid-column: 1 / -1;
          grid-row: 4;
        }

        .flex-bullet-separator {
          grid-row: 2;
          grid-column: 2;
        }
      }
    }

    .bg {
      position: absolute;
      height: 100%;
      width: 100%;
      inset: 0px;
      object-fit: cover;
      z-index: -1;
      border-radius: inherit;
      opacity: 70%;
      filter: brightness(50%) grayscale(50%);
      transition: .25s scale, .5s filter;
    }

    .cover-wrapper {
      position: relative;
      height: 100%;
      width: min-content;
      aspect-ratio: 5.5/8;
      border-radius: .5rem;
      text-decoration: none;
      color: inherit;

      .flex-space-between {
        width: 100%;
        align-items: flex-end;
      }
    }

    .cover-link {
      border-radius: inherit;
    }

    .header {
      position: absolute;
      padding: .5rem;
    }

    .score {
      display: flex;
      gap: .5rem;
      align-items: center;
      background-color: var(--shadow-450);
      padding: .25rem .5rem;
      border-radius: .5rem;
      margin-left: auto;

      svg {
        width: 1rem;
        height: 1rem;
        color: var(--gold-400)
      }
    }

    .footer {
      position: absolute;
      bottom: 0px;
      background-color: var(--shadow-450);
      text-shadow: 0 0 2px var(--shadow-400);
      border-radius: 0 0 .5rem .5rem;
      padding: .75rem;
    }

    .cover {
      width: 100%;
      height: 100%;
      border-radius: inherit;
      background: var(--shadow-500);
      box-shadow: 0 0 5px -2px var(--shadow-500);
    }

    .title {
      font-weight: 500;
      color: var(--foreground-color);
      font-size: var(--fs-500);
      margin-bottom: .5rem;
      text-shadow: 0 0 5px black;
    }

  }

  .cp-card-repeat {
    display: flex;
    gap: .5rem;
    align-items: center;
    background-color: var(--shadow-450);
    padding: .5rem;
    padding: .25rem .5rem;
    border-radius: .5rem;

    svg {
      width: .9rem;
      height: .9rem;
    }
  }

  .pg-compare-card-content {
    display: grid;
    grid-template-rows: auto auto 1fr;
    align-items: baseline;
    overflow: hidden;

    .flex-bullet-separator {
      font-weight: 600;
      font-size: var(--fs-500);
      color: var(--text-350);
      place-self: self-end;

      a {
        color: inherit;
        text-decoration: none;
      }
    }
  }

  .pg-compare-media-users {
    list-style: none;
    grid-template-columns: 1fr repeat(3, auto);
    display: grid;
    gap: .25rem;
    padding: 0;
    color: var(--text-400);
    height: 100%;
    overflow-y: auto;

    li {
      display: grid;
      grid-column: 1/-1;
      grid-template-columns: subgrid;
      gap: 0 .25rem;
      align-items: center;
      text-shadow: 0 0 3px black;
    }


    .name {
      word-break: break-all;
      font-weight: 500;
      opacity: .9;
      text-decoration: none;
      color: inherit;
      display: flex;
      gap: .25rem;
      align-items: center;
    }

    .profile {
      width: 2rem;
      height: 2rem;
      object-fit: cover;
      border-radius: .25rem;
      flex-shrink: 0;
    }

    .status {
      color: var(--text-350);
    }

    .cp-card-repeat {
      grid-column: 3;
    }

    .score-component-container {
      grid-column: 4;
      justify-self: end;
    }
  }
}
