$radius: .2rem;

.container {
  background-color: yellow;
  margin-inline: auto;
  width: min(100%, 80rem);
  display: grid;
  gap: 10px;
}

.header {
  width: 100%;
  background-color: lime;
  margin-inline: auto;
  display: grid;
  gap: 5px;
}

.row-container {
  background-color: purple;
  min-height: 6em;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: $radius;
  }
}


.body {
  display: grid;
  align-items: start;
  grid-template-columns: 4fr 3fr;
  gap: 5px;
  background-color: wheat;
}

.left {
  background-color: skyblue;
  width: 100%;
  display: grid;
  gap: 5px;
}

.right {
  background-color: steelblue;
  width: 100%;
  display: grid;
  gap: 5px;
}

.is-behind {
  position: absolute;
  background-color: red;
  height: .3rem;
  width: 100%;
  bottom: 0px;
}

.normal-info {
  background-color: #333;
  padding-block: .75em 1rem;
  position: absolute;
  width: 100%;
  bottom: 0px;
  text-align: center;
  font-size: .75rem;
  border-radius: 0px 0px $radius $radius;
  overflow: hidden;
}

.hover-info {
  background-color: #333;
  padding-block: .75em;
  position: absolute;
  width: 100%;
  bottom: 0px;
  text-align: center;
  font-size: 0.75rem;
  opacity: 0;
  font-weight: 700;
  border-radius: 0px 0px $radius $radius;
  overflow: hidden;

  &:hover {
    background-color: black;
  }

  .plus {
    font-size: 1rem;
  }

  &.normal {
    font-size: .9rem;
    font-weight: 500;
  }
}

.card {
  position: relative;
  width: 5.5rem;
  height: 8rem;
  color: white;
  border-radius: $radius;
  text-decoration: none;

  &:hover {
    border-radius: $radius 0px 0px $radius;

    img {
      border-radius: $radius 0px 0px $radius;
    }

    .normal-info {
      opacity: 0;
      border-radius: 0px 0px 0px $radius;
    }

    .hover-info {
      opacity: 1;
      border-radius: 0px 0px 0px $radius;
    }
  }
}

.progress-status {
  margin-top: auto;
}

.card-right {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 100%;
  width: 16rem;
  background-color: green;
  z-index: 1;
  display: none;
  pointer-events: none;
  padding: .5rem;
}

.card:hover .card-right{
  display: flex;
  flex-direction: column;
}


