$radius: .2rem;

.container {
  margin-inline: auto;
  width: min(100%, 80rem);
  display: grid;
  gap: 10px;

  :global .grid-column-auto-fill.activity {
    --grid-max-column-count: 2;

    :global .activity-card-text,
    :global .activity-card-text ~ .activity-card-media:nth-child(odd):has(+ .activity-card-text) {
      grid-column: 1/-1;
    }
  }
}

.header {
  width: 100%;
  margin-inline: auto;
  display: grid;
  gap: 5px;
}

.row-container {
  background-color: var(--background-400);
  min-height: 6em;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: $radius;
  }
}


.is-behind {
  position: absolute;
  background-color: var(--red-400);
  height: .3rem;
  width: 100%;
  bottom: 0px;
}

.normal-info {
  background-color: var(--shadow-400);
  padding-block: .75em 1rem;
  position: absolute;
  width: 100%;
  bottom: 0px;
  text-align: center;
  font-size: .75rem;
  border-radius: 0px 0px $radius $radius;
  overflow: hidden;
}

.hover-info {
  background-color: var(--shadow-400);
  padding-block: .75em;
  position: absolute;
  width: 100%;
  bottom: 0px;
  text-align: center;
  font-size: 0.75rem;
  opacity: 0;
  font-weight: 700;
  border-radius: 0px 0px $radius $radius;
  overflow: hidden;

  &:hover {
    background-color: var(--shadow-300);
  }

  .plus {
    font-size: 1rem;
  }

  &.normal {
    font-size: .9rem;
    font-weight: 500;
  }
}

.card {
  position: relative;
  width: 5.5rem;
  height: 8rem;
  color: inherit;
  border-radius: $radius;
  text-decoration: none;

  &:hover {
    border-radius: $radius 0px 0px $radius;

    img {
      border-radius: $radius 0px 0px $radius;
    }

    .normal-info {
      opacity: 0;
      border-radius: 0px 0px 0px $radius;
    }

    .hover-info {
      opacity: 1;
      border-radius: 0px 0px 0px $radius;
    }
  }
}

.progress-status {
  margin-top: auto;
}

.card-right {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 100%;
  width: 16rem;
  background-color: var(--background-350);
  z-index: 1;
  display: none;
  pointer-events: none;
  padding: .5rem;
}

.card:hover .card-right{
  display: flex;
  flex-direction: column;
}


