$radius: .2rem;

.pg-home {
  margin-inline: auto;
  width: min(100%, 80rem);
  display: grid;
  gap: 10px;

  .activity {
    transition: opacity .2s, filter .2s;
    &.loading {
      opacity: .5;
      filter: grayscale(.5);
    }
    li {
      width: min(100%, 30rem);
      flex-grow: 1;
    }

    .activity-card-text {
      width: 100%;
    }
  }


  .cp-loader-circle {
    left: 50%;
    transform: translateX(-50%);

    &.refresh {
      position: absolute;
      z-index: 1;
      margin-top: 3rem;
    }

    &.new {
      margin-top: 1rem;
    }
  }
}

.pg-home-current {
  width: 100%;
  margin-inline: auto;
  display: grid;
  gap: 1rem;
  align-items: start;

  .is-behind {
    position: absolute;
    background-color: var(--red-400);
    height: .3rem;
    width: 100%;
    bottom: 0px;
  }
}



