@layer layout {
  .search-page {
    max-width: 85rem;
    padding: 2rem 1rem;
    margin-inline: auto;
    background-color: var(--background-400);

    .header-row {
      display: flex;
    }

    .grid-column-auto-fill > input[type="search"] {
      grid-column: span 2;
    }

    .cp-two-headed-range {
      margin-block: 1rem;
    }
  }



  .search-meta-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    list-style: none;
    padding: 0;

    li {
      &.disabled {
        opacity: .5;
      }
    }
  }
  .search-page-content {
    --grid-column-width: 13rem;
    // --grid-column-width: 20rem;
    --line-clamp: 3;
  }

  .search-result-container {
    container-type: inline-size;
    container-name: media-search-results;
  }

  .search-home-content {
    display: grid;
    gap: 2rem;
  }

  .horizontal-search-card-section {
    display: grid;
    gap: .25rem;

    .horizontal-search-card:first-child .item::before {
      right: calc(-1 * var(--tooltip-padding)); 
      left: unset;
      transform: translateX(100%);
    } 
  }
  .search-cards-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .horizontal-search-card-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    padding: 0;
    list-style: none;
    gap: 0 2rem;
    grid-template-rows: repeat(1, 1fr);
    grid-auto-rows: 0;
    overflow-y: hidden;
  }
  .horizontal-search-card {

    a {
      color: inherit;
      text-decoration: none;

      &:not(:hover) .search-card-quick-action {
        display: none;
      }
    }

    img {
      width: 100%;
      aspect-ratio: 5.5/8;
      object-fit: cover;
    }

    .container {
      position: relative;
    }
  }
  .search-card-quick-action {
    position: absolute;
    right: 0px;
    bottom: 0px;
    display: grid;
    padding: .25rem;

    &:not(:hover) li:nth-child(n + 2) {
      display: none;
    }
  }
  .search-card-quick-action-items {
    display: flex;
    flex-direction: column-reverse;
    list-style: none;
    padding: 0;
    gap: .25rem;
    align-items: flex-end;

    .item {
      position: relative;
      
      &:hover::before {
        --tooltip-padding: .5em;
        left: calc(-1 * var(--tooltip-padding));
        transform: translateX(-100%) translateY(-50%);
        top: 50%;
        position: absolute;
        content: attr(label);
        background-color: black;
        white-space: nowrap;
        font-weight: 600;
        padding: .5em;
        border-radius: .25em;
        z-index: 1;
      }
    }


    svg {
      width: 100%;
      height: 100%;
    }

    button {
      height: 2rem;
      width: 2rem;
      padding: .5rem;
      border-radius: 50%;
      border: none;
      cursor: pointer;

      &:hover {
        background-color: grey;
      }
    }
  }





  .vertical-search-card-row {
    display: grid;
    grid-template-columns: auto 4rem 1fr repeat(3, auto);
    gap: 1rem;
    padding: 0;
    container-type: inline-size;
    container-name: vertical-search-cards;
    
    .ranking {
      font-size: 1.5rem;
      font-weight: 700;
    }
  }
  .vertical-search-card {
    background-color: var(--background-300);
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
    align-items: center;
    justify-items: end;
  }
  .vertical-search-card-body {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 2 / -1;
    background-color: var(--background-350);
    padding: .5rem;

    .clamp {
      display: grid;
      align-content: center;
    }

    img {
      width: 100%;
      height: 100%;
      aspect-ratio: 5.5/8;
      object-fit: cover;
    }
  }
  .vertical-search-card-content {
    gap: .5rem;

    > a {
      text-decoration: none;
      color: white;
    }
  }
  .vertical-search-card-info {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: span 3;
  }
  .vertical-search-card-genre-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    gap: .5rem;
    font-weight: 600;
    font-size: 0.8rem;
    height: 1.75em;
    overflow: hidden;
  }
  .vertical-search-card-genre {
    list-style: none;
    padding: .1em .75em;
    border-radius: 2em;
    height: 100%;
    display: grid;
    place-items: center;
    background-color: var(--media-background-color, orange);

    a {
      text-decoration: none;
      color: rgb(0 0 0 / 80%);
    }
  }

  .vertical-search-card-score {
    display: grid;
    grid-template-columns: 2rem auto;
    gap: .5rem;
    align-items: center;
  }
}


@layer resize {
  @media (width < 60rem) {
    .search-page {
      .grid-column-auto-fill > input[type="search"] {
        grid-column: 1 / -1;
      }
    }
  }


  @container vertical-search-cards (width < 42em) {
    .vertical-search-card {
      position: relative;
      justify-items: unset;
      display: block;

      .ranking {
        position: absolute;
        transform: translate(-10%, -10%);
        width: max-content;
        min-width: 2em;
        height: auto;
        aspect-ratio: 1/1;
        background-color: var(--media-background-color, orange);
        padding: .25em;
        border-radius: 100%;
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: auto auto;
        font-size: 1.25rem;
        pointer-events: none;
        color: var(--shadow-300)
      }
    }

    .vertical-search-card-body {
      grid-column: 1;
      grid-template-columns: 4rem 1fr;
      gap: .5rem;

      .cover-container {
        grid-row: span 2;
      }
    }

    .vertical-search-card-info {
      display: flex;
      flex-wrap: wrap;
      grid-column: 2;
      gap: 0 1rem;

      .clamp {
        display: flex;
        gap: 1rem;
      }

      * {
        white-space: nowrap;
      }
    }

    .vertical-search-card-score {
      grid-template-columns: 1.1em auto;
      gap: .5rem;
    }
  }

  // Switch hover tooltop to right when when grid-column: auto-fit: 2 columns (small)
  @container media-search-results (calc(2 * 7em + 1 * .5em) <= width < calc(3 * 7em + 2 * .5em)) {
    .horizontal-search-card:nth-child(odd) .item::before {
      right: calc(-1 * var(--tooltip-padding)); 
      left: unset;
      transform: translateX(100%);
    } 
  }
  // Switch hover tooltop to right when when grid-column: auto-fit: 3 columns (small)
  @container media-search-results (calc(3 * 7em + 2 * .5em) <= width < calc(4 * 7em + 3 * .5em)) {
    .horizontal-search-card:nth-child(3n + 1) .item::before {
      right: calc(-1 * var(--tooltip-padding)); 
      left: unset;
      transform: translateX(100%);
    } 
  }
  // Switch hover tooltop to right when when grid-column: auto-fit: 4 columns (small)
  @container media-search-results (calc(4 * 7em + 3 * .5em) <= width < calc(5 * 7em + 4 * .5em)) {
    .horizontal-search-card:nth-child(4n + 1) .item::before {
      right: calc(-1 * var(--tooltip-padding)); 
      left: unset;
      transform: translateX(100%);
    } 
  }
  // Switch hover tooltop to right when when grid-column: auto-fit: 5 columns (small)
  @container media-search-results (calc(5 * 7em + 4 * .5em) <= width < calc(6 * 7em + 5 * .5em)) {
    .horizontal-search-card:nth-child(5n + 1) .item::before {
      right: calc(-1 * var(--tooltip-padding)); 
      left: unset;
      transform: translateX(100%);
    } 
  }
  // Switch hover tooltop to right when when grid-column: auto-fit: 3 columns (big)
  @container media-search-results (calc(6 * 7em + 5 * .5em) <= width < calc(4 * 13em + 3 * 1em)) {
    .horizontal-search-card:nth-child(3n + 1) .item::before {
      right: calc(-1 * var(--tooltip-padding)); 
      left: unset;
      transform: translateX(100%);
    } 
  }
  // Switch hover tooltop to right when when grid-column: auto-fit: 4 columns (big)
  @container media-search-results (calc(4 * 13em + 3 * 1em) <= width < calc(5 * 13em + 4 * 1em)) {
    .horizontal-search-card:nth-child(4n + 1) .item::before {
      right: calc(-1 * var(--tooltip-padding)); 
      left: unset;
      transform: translateX(100%);
    } 
  }
  // Switch hover tooltop to right when when grid-column: auto-fit: 5 columns (big)
  @container media-search-results (calc(5 * 13em + 4 * 1em) <= width < calc(6 * 13em + 5 * 1em)) {
    .horizontal-search-card:nth-child(5n + 1) .item::before {
      right: calc(-1 * var(--tooltip-padding)); 
      left: unset;
      transform: translateX(100%);
    } 
  }
  // Switch hover tooltop to right when when grid-column: auto-fit: 6 columns (big)
  @container media-search-results (calc(6 * 13em + 5 * 1em) <= width < calc(7 * 13em + 6 * 1em)) {
    .horizontal-search-card:nth-child(6n + 1) .item::before {
      right: calc(-1 * var(--tooltip-padding)); 
      left: unset;
      transform: translateX(100%);
    } 
  }


  @container media-search-results (width < calc(6 * 7em + 5 * .5em)) {
    .search-page-content {
      --grid-column-width: 7rem;
    }
  }
}
