@layer layout {
  .staff-page {
    width: min(85rem, calc(100% - 1rem));
    margin-inline: auto;
    background-color: seashell;
  }

  .staff-page-header {
    display: grid;
    grid-template-columns: 14rem 1fr;
    gap: 1rem;
    max-width: 100ch;
    margin-inline: auto;

    .row {
      display: grid;
      grid-template-columns: 1fr auto;
      grid-auto-flow: row dense;
      align-items: start;
      gap: 0 1rem;
    }

    .cover {
      grid-row: span 2;
      width: min(14rem, 100%);
    }

    .toggle-favourite-button {
      grid-row: span 2;
    }

    .description {
      padding: 0;
      list-style: none;
    }
  }

  .staff-page-alternative-names {
    grid-column: 1;
  }

  .staff-page-form {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 1rem;
  }

  .staff-page-summary {
    position: sticky;
    top: 2rem;
    height: 3rem;
    background-color: slateblue;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 1rem;

    h2 {
      display: inline;
    }
  }


  .staff-page-character-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    gap: 1rem;
    background-color: orange;
    list-style: none;
    padding: 0;


    .role {
      font-size: .8rem;
      margin-left: .5rem;
      opacity: .8;
    }

    a {
      text-decoration: none;
      color: inherit;
    }
  }
  .staff-page-character-year-header {
    grid-column: 1/-1;
  }
  .staff-page-character-cover {
    position: relative;
    width: 100%;

    img {
      aspect-ratio: 5.5/8;
      object-fit: cover;
      width: 100%;
    }

    .media {
      position: absolute;
      left: 0px;
      bottom: 0px;
      width: 35%;
    }
  }
}

@layer resize {
  @media (width < 45em) {
    .staff-page-header {
      .row {
        grid-template-columns: 1fr;
        text-align: center;
        justify-items: center;
      }

      .toggle-favourite-button {
        margin-top: 1rem;
      }
      .cover, .description {
        order: 1;
      }

      .cover {
        place-self: center;
      }
    }

    .staff-page-header {
      grid-template-columns: 1fr;
    }
  }
}
