@layer layour {
  .studio-page {
    width: min(85rem, calc(100% - 1rem));
    margin-inline: auto;
    background-color: var(--background-400);

    --grid-column-width: 11rem;

    form {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      gap: 0 1rem;
    }

    img {
      aspect-ratio: 5.5/8;
      width: 100%;
      object-fit: cover;
    }
  }
}
