@layer layout {
  .user-page {
    max-width: min(100% - 1rem, 90rem);
    margin-inline: auto;
  }

  .profile-banner-container {
    height: 20rem;
    isolation: isolate;
    display: grid;

    .banner {
      position: absolute;
      width: 100%;
      height: 20rem;
      object-fit: cover;
      left: 0px;
      z-index: -1;
      background-color: var(--background-400);
      filter: brightness(.75);
    }

  }

  .user-profile-container {
    display: flex;
    color: white;
    gap: 1rem;
    align-items: end;
    margin-top: auto;
    padding-bottom: .5rem;

    .profile {
      max-width: 10rem;
      max-height: 15rem;
      object-fit: cover;
    }

    .content a{
      color: inherit;
      text-decoration: none;
      word-break: break-word;
    }
  }

  .user-profile-following-badge {
    background-color: red;
    font-size: .60em;
    padding: .25em .5em;
    margin-left: 1em;
    border-radius: .25em;
  }

  .profile-navigation ul {
    background-color: var(--background-500);
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    justify-content: center;
    gap: .5rem 2rem;
    padding: 1rem;
  }
}

@layer resize {
  @media (width < 35em) {
    .user-profile-container {
      .profile {
        max-width: 5rem;
      }

      .content {
        font-size: .75rem;
      }
    }
  }
}
