@layer layout {
  .user-page {
    max-width: min(100% - 1rem, 90rem);
    margin-inline: auto;

  }
  .user-profile-overview-body {
    display: grid;
    margin-top: 1rem;
    grid-template-columns: minmax(29rem, 2fr) 3fr;
    gap: 1rem;
    align-items: start;
  }

  .profile-banner-container {
    height: 20rem;
    isolation: isolate;
    display: grid;

    .banner {
      position: absolute;
      width: 100%;
      height: 20rem;
      object-fit: cover;
      left: 0px;
      z-index: -1;
      background-color: var(--background-400);
      filter: brightness(.75);
    }

  }

  .user-profile-container {
    display: flex;
    color: white;
    gap: 1rem;
    align-items: end;
    margin-top: auto;
    padding-bottom: .5rem;

    .profile {
      max-width: 10rem;
      max-height: 15rem;
      object-fit: cover;
    }

    .content a{
      color: inherit;
      text-decoration: none;
      word-break: break-word;
    }
  }

  .user-profile-following-badge {
    background-color: red;
    font-size: .60em;
    padding: .25em .5em;
    margin-left: 1em;
    border-radius: .25em;
  }

  .profile-navigation ul {
    background-color: var(--background-500);
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    justify-content: center;
    gap: .5rem 2rem;
    padding: 1rem;
  }
  .activity-history-container {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: .25rem;
    padding: .5rem;
  }
  .activity-history-list {
    display: grid;
    gap: .15rem;
    padding: 0;
    grid-template-rows: repeat(7, auto);
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    list-style: none;
  }
  .activity-history-header-list {
    display: grid;
    list-style: none;
    padding: 0;
    align-items: center;

  }
  .activity-history-header {
    line-height: 0;
    font-size: .9em;
  }
  .activity-item {
    position: relative;
    aspect-ratio: 1/1;
    border-radius: .2rem;
    background-color: grey;

    &[data-level="1"] {
      background-color: color-mix(in hsl, var(--user-color, orange), black 30%);
    }
    &[data-level="2"] {
      background-color: color-mix(in hsl, var(--user-color, orange), black 20%);
    }
    &[data-level="3"] {
      background-color: color-mix(in hsl, var(--user-color, orange), black 10%);
    }
    &[data-level="4"] {
      background-color: var(--user-color, orange);
    }
    &[data-level="5"] {
      background-color: color-mix(in hsl, var(--user-color, orange), white 10%);
    }
    &[data-level="6"] {
      background-color: color-mix(in hsl, var(--user-color, orange), white 20%);
    }
    &[data-level="7"] {
      background-color: color-mix(in hsl, var(--user-color, orange), white 20%);
    }
    &[data-level="8"] {
      background-color: color-mix(in hsl, var(--user-color, orange), white 30%);
    }
    &[data-level="9"] {
      background-color: color-mix(in hsl, var(--user-color, orange), white 40%);
    }
    &[data-level="10"] {
      background-color: color-mix(in hsl, var(--user-color, orange), white 50%);
    }
  }

  .user-info-container {
    display: grid;
    gap: 2rem;

    > div {
      background-color: var(--background-400);
    }
  }
  .user-activity-container {
    display: grid;
    gap: 2rem;
  }

  .user-profile-activity {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: .5rem 1rem;

    .activity-card-text,
    .activity-card-text ~ .activity-card-media:nth-child(odd):has(+ .activity-card-text) {
      grid-column: 1/-1;
    }
  }



  .user-profile-progress {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    flex-wrap: wrap;

    .container {
      display: flex;
      gap: 1rem;
      justify-content: space-around;
      flex: 1;
      background-color: var(--background-400);
      padding: .5rem;
      flex-wrap: wrap;
      flex-basis: min(20rem, 100%);
    }

    .header {
      font-size: 1.25rem;
      font-weight: 600;
    }
  }
  .profile-progress-item {
    text-align: center;
    flex: 1;
  }


  .user-profile-genres {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .user-genres-overview {
    flex: 1;

    ol {
      padding: 0;
      list-style: none;
      display: grid;
      gap: .25rem;
    }

    .item {
      background-color: var(--background-400);
      padding-inline: .5rem;

      span {
        float: right;
      }
    }
  }

  .user-favourites {
    container-type: inline-size;
    container-name: user-favourites;

    .grid-reel-auto-fill {
      --grid-column-width: 10rem;
    }

    .item img {
      width: 100%;
      height: 100%;
      aspect-ratio: 5.5/8;
      object-fit: cover;
    }
  }

  .user-favourites-studio {
    ol {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      padding: 1rem;
      gap: 1rem;
    }
  }


  // Media list page

  .user-profile-media-list-body {
    display: grid;
    grid-template-columns: 12rem 1fr;
    gap: .5rem;
  }

  .user-profile-media-list-search {
    display: grid;
    align-content: start;
    gap: .25rem;
  }

  .user-profile-media-list-container {
  }

  .user-profile-media-list-grid {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr));
    gap: 1rem;

    img {
      aspect-ratio: 5.5/8;
      object-fit: cover;
    }
    .search-card-quick-action {
      top: 0px;
      bottom: unset;
    }

    .search-card-quick-action-items button {
      width: 3rem;
      height: 3rem;
      border-radius: .25rem;
      padding: .75rem;
    }
  }
  .user-profile-media-list-adult-warning {
    position: absolute;
    bottom: 100%;
    font-size: .75em;
    padding: .1em .3em;
    background-color: red;
    transform: translateY(33%);
  }

  .user-media-card-header {
    position: absolute;
    top: 0px;
    padding: .5rem;
    display: flex;
    gap: .5rem;

    > div {
      background: black;
      display: flex;
      gap: .5rem;
      padding: .25rem;
      border-radius: .25rem;
      align-items: center;

      &:hover::before {
        left: -50%;
        bottom: 100%;
        max-width: 20em;
        position: absolute;
        content: attr(label);
        background-color: black;
        width: max-content;
        font-weight: 600;
        padding: .5em;
        border-radius: .25em;
        z-index: 1;
      }
    }

    svg {
      height: 1.25rem;
    }
  }

  .user-media-card-footer {
    position: absolute;
    bottom: 0px;
    background-color: var(--shadow-450);
    width: 100%;
    padding: .5rem;

    > div {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
  }
}

@layer resize {
  @media (width < 55em) {
    .user-profile-media-list-body {
      display: grid;
      grid-template-columns: 1fr;
    }
    .user-activity-container,
    .user-info-container {
      display: contents;

      > * {
        order: 4;
      }
    }

    .user-profile-progress, 
    .user-profile-genres {
      order: 0;
    }

    .activity-history-container {
      padding: 1rem;
      gap: .25rem;
    }
    .user-profile-overview-body {
      grid-template-columns: 1fr;
    }

    .user-profile-favourites-details .grid {
      grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));
    }
  }

  @media (width >= 55em) {
    .user-favourites .grid-reel-auto-fill {
      grid-template-columns: repeat(5, 1fr);
      grid-auto-flow: row;
      padding: .5rem;
    }
  }

  @media (width < 35em) {
    .activity-history-container {
      padding: .5rem;
      gap: .15rem;
    }
    .user-profile-media-list-grid {
      grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
      font-size: .8rem;
      gap: .25rem;
    }
    .search-card-quick-action-items button {
      width: 2rem;
      height: 2rem;
      border-radius: .25rem;
      padding: .5rem;
    }

    .user-profile-activity {
      grid-template-columns: 1fr;
    }

    .user-profile-container {
      .profile {
        max-width: 5rem;
      }

      .content {
        font-size: .75rem;
      }
    }
  }

  @media (width < 22em) {
    .activity-history-container {
      padding: .5rem;
      gap: .15rem;
    }
    .activity-history-list {
      gap: 0.05rem;
      border-radius: .05rem;
    }
  }
}
