@layer layout {
  .scores {
    background-color: var(--background-400);
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    gap: .15rem .5rem;
    padding: .5rem;
    justify-items: center;

    span {
      font-size: 1.75rem;
      font-weight: 700;
      line-height: 75%;
    }

    .anilist-users {
      grid-column: span 2;
      grid-row: 2;
    }
  }
}
