.activity-card-text {
  min-height: 5rem;
  background-color: var(--background-400);
  border-radius: .25rem;
  padding: .5rem;

  .header {
    display: flex;
    justify-content: space-between;
  }
  .content {
    margin-top: .5rem;
    word-break: break-all;

    * {
      white-space: break-spaces;
    }
  }
  .footer {
    margin-top: .5rem;
    gap: .5rem;
    display: flex;
    justify-content: end;
  }
}

.cp-activity-like {
  ol {
    list-style: none;
    padding: 0;
    display: grid;
    gap: .25rem;
  }

  li {
    display: flex;
    align-items: center;
    gap: .5rem;
  }
  img {
    aspect-ratio: 1/1;
    width: 2rem;
    border-radius: .25rem;
  }
}


.activity-profile-header {
  display: flex;
  gap: .75rem;
  align-items: center;
}



.activity-card-media {
  position: relative;
  display: grid;
  gap: .75rem;
  grid-template-columns: 5.5rem 1fr auto;
  background-color: var(--background-400);
  border-radius: .25rem;

  &.small {
    grid-template-columns: 3.5rem 1fr auto;
  }


  .cover {
    height: 100%;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 5.5/8;
  }

  .main {
    padding-block: .5rem;
  }

  .right {
    padding: .5rem;
    padding-left: 0;
    display: flex;
    flex-direction: column;
  }
}


.activity-created-at {
  margin-bottom: auto;
}

.activity-card-media, .activity-card-text {
  .profile {
    margin-top: .5rem;
    height: 3rem;
    width: 3rem;
  }

  button.active {
    background-color: var(--crimson-400);
  }
}
