.toggle-favourite-button {
  display: flex;
  background-color: var(--background-300);
  border-radius: .5rem;
  align-items: center;
  gap: .5rem;
  padding: .5rem;
  cursor: pointer;

  &:has(:checked) {
    background-color: var(--background-300);
  }

  input {
    all: unset;
    position: absolute;

    &:checked + svg {
      color: var(--crimson-400);
      filter: drop-shadow(0px 0px 5px currentColor);
    }
  }

  svg {
    width: 2rem;
    height: 2rem;
  }
}
