.favourite {
  display: flex;
  background-color: springgreen;
  align-items: center;
  gap: .5rem;
  padding: .5rem;

  &:has(:checked) {
    background-color: green;
  }

  input {
    all: unset;
    position: absolute;

    &:checked + svg {
      color: red;
    }
  }

  svg {
    color: white;
    width: 2rem;
    height: 2rem;
  }
}
