.spoiler {
  display: inline-block;
  background-color: var(--background-400);

  &:not([open]) {
    background-color: var(--background-500);
    * {
      color: transparent;
    }

    summary * {
      pointer-events: none;
    }
  }

  > summary {
    list-style: none;
    cursor: pointer;

    &::-webkit-details-marker {
      display: none;
    }
  }
}
