@layer layout {
  /* Remove this background hack when styling refactoring is done */
  _body:has(*) {
    background: var(--bg-dark);
  }

  .browse-page {
    max-width: 98rem;
    margin-inline: auto;
    display: grid;
    gap: 48px;
    margin-bottom: 64px;
  }

  .search-page {
    margin-inline: auto;
    width: min(100% - 64px, 90rem);

    @media (width < 61em) {
      width: min(100% - 16px, 90rem);
    }

    @media (width < 40em) {
      width: min(100% - 8px, 90rem);
    }

    h1 {
      margin-bottom: 2rem;
    }

    .cards {
      display: grid;
      padding: 0;
      grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
      gap: 32px 48px;
      margin-bottom: 64px;
      list-style: none;
      position: relative;

      @media (width < 61em) {
        grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
        gap: 32px 32px;
      }

      @media (width < 40em) {
        grid-template-columns: repeat(auto-fill, minmax(7rem, 1fr));
        gap: 8px 8px;
      }

      &:has(_.cp-media-card.loading) _.cp-media-card.skeleton {
        position: absolute;
        visibility: hidden;
        left: 0;
        bottom: 0;
      }

      /* We already have a cache match, because we have generated loading media cards, */
      /* but we still have loading skeleton cards (these are the cards at the end of search page) */
      /* This is just a visual thing, but hide the loading skeleton cards, if we have loading cached cards */
      /* Its possible that the cache has already all the cards, and its stupid to visually show more loading cards, that don't exist */
      _.cp-media-card {
        .cards:has(&.loading) &.skeleton {
          position: absolute;
          visibility: hidden;
          left: 0;
          bottom: 0;
        }
      }

      h2 {
        grid-column: 1 / -1;
        margin-top: 4.5rem;
      }
    }

    &.prevent-animation _* {
      transition: unset !important; 
    }

    .skeleton-card {
      aspect-ratio: 5.5/8;
      margin-bottom: 4.5rem;
    }
  }

  .time {
    position: absolute;
  }
}
