@layer layout {
  /* Remove this background hack when styling refactoring is done */
  _body:has(*) {
    background: var(--bg-dark);
  }

  .browse-page {
    max-width: 100rem;
    margin-inline: auto;
    display: grid;
    gap: 48px;
    margin-bottom: 64px;
  }

  .search-page {
    max-width: 100rem;
    margin-inline: auto;

    .cards {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
      gap: 48px;
      margin-bottom: 64px;
      list-style: none;
    }
  }

  .time {
    position: absolute;
  }
}
