@layer layout {
  .media-page-content {
    position: relative;
    max-width: 80rem;
    display: grid;
    grid-template-columns: 15rem 1fr;
    gap: 1rem;
    margin-top: 1rem;
    margin-inline: auto;

    &.loading {
      opacity: .6;
    }
  }

  .media-page-watch-episodes {
    --grid-column-width: 20rem;
    --padding: 0px;
    /* This fixes the scroll snapping of the child reel */
    position: relative;

    .grid-reel-auto-fill {
      /* Setting background color to the same as background because otherwise the scroll snapping will break ¯\_(ツ)_/¯ */
      background-color: var(--background-200);
    }

    li {
      position: relative;
    }

    a {
      text-decoration: none;
      color: inherit;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    .wrapper {
      position: absolute;
      top: 0;
      display: flex;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }

    p {
      margin-top: auto;
      background-color: var(--shadow-400);
      padding: .5rem;
      width: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      aspect-ratio: 16/9;
      object-fit: cover;
    }
  }

  .media-page-left-aside {
    display: grid;
    height: fit-content;
    gap: 1rem;

    _.pg-media-banner + .media-page-content & {
      margin-top: -8rem;
    }

    > div:not(.cp-media-api-switcher) {
      background-color: var(--background-400);
    }
  }


  .media-page-cover {
    width: 100%;
    aspect-ratio: 5.5/8;
    object-fit: cover;
    border-radius: .25rem;
  }


  .media-page-main {
    display: grid;
    gap: 1rem;
    height: fit-content;
  }

  h1 {
    line-height: 1.1;
  }

  .media-page-info-list {
    display: flex;
    list-style: none;
    --gap: 2rem;
    gap: 0 var(--gap, 1rem);
    padding: 0;
    flex-wrap: wrap;
    overflow: clip;

    li {
      position: relative;
    }

    li:not(:first-child)::before {
      content: "";
      position: absolute;
      width: .4em;
      height: .4em;
      top: calc(50% + .1em);
      transform: translateY(-50%) translateX(calc(var(--gap, 1rem) / -2 + -50%));
      border-radius: 100%;
      background-color: var(--text-200);
    }
  }


}

@layer resize {
  @media (width < 50em) {
    :root {
      --media-page-banner-height: max(min(15.5rem, 35vw), 8rem);
      --media-page-cover-padding: .5rem;
    }
    _.pg-media-banner _img {
      opacity: .4;
    }

    _.pg-media-banner + .media-page-content {
      margin-top: calc(var(--media-page-banner-height) * -1 + var(--media-page-cover-padding));
      margin-inline: var(--media-page-cover-padding);
    }
    .media-page-content {
      grid-template-columns: calc((var(--media-page-banner-height) - var(--media-page-cover-padding) * 2) * 5.5 / 8) 1fr;
      gap: .5rem;
      background-color: unset;
    }
    :where(.media-page-main, .media-page-left-aside) {
      display: contents;
      > _* {
        order: 10;
        grid-column: 1/-1;
      }
    }

    .media-page-cover {
      grid-column: 1;
      order: 0; 
    }

    _.pg-ani-media-info {
      order: 0;
      grid-column: 2;

      _* {
        text-shadow: 0 0 2px #000000, 0 0 4px #000000;
      }

      _h1 {
        font-size: 1.2rem;
      }
    }

    .media-page-description {
      order: 0; 
    }
  }
}
