.character-container {

  ol {
    --grid-column-width: 25rem;
  }
}

.character {
  background-color: var(--background-400);
  display: flex;
  gap: .5rem;
  text-decoration: none;
  color: white;
  word-break: break-all;
  word-break: break-word;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 3.5/5;
  }
}

.character-left, .character-right {
  width: 100%;
  display: grid;
  gap: .5rem;

  .content {
    padding-block: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.character-left {
  grid-template-columns: 3.5rem 1fr;
}
.character-right {
  grid-template-columns: 1fr 3.5rem;
  text-align: right;
}

