.friend-container {
  background-color: lightcoral;

  ul {
    list-style: none;
    display: grid;
    gap: .5rem;
    padding: 0px;
    grid-template-columns: 2rem 1fr auto auto auto;

    li {
      display: contents;
    }
  }
}

.friend {
  display: grid;
  background-color: magenta;
  border-radius: .25rem;
  grid-template-columns: subgrid;
  grid-column: 1/-1;
  gap: .5rem;
  padding: .5rem;
  align-items: center;
  color: white;
  text-decoration: none;

  img {
    aspect-ratio: 1/1;
    border-radius: .25rem;
  }

  :global .score-component-container {
    grid-column: 5;
  }
  :global .friend-list-status {
    text-align: right;
  }
}

.friend-repeat {
  display: flex;
  gap: .25em;
  margin-left: 1em;

  svg {
    width: 1em;
  }
}
