.genre-container {
  ul {
    list-style: none;
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
  }
}
.genre {
  background-color: gray;
  flex-grow: 1;
  text-align: center;
  padding-inline: .25rem;
  border-radius: .25rem;
}
