.score-star-input, .score-emoji-input {
  display: flex;
  background-color: green;
  gap: .25rem;
  padding: .25rem;
  justify-content: space-around;
}

.selected {
  .score-star-input & {
    color: gold;
  }

  .score-emoji-input:has(&) .radio-container:not(&) svg {
    color: #333;
  }
}

.radio-container {
  cursor: pointer;
  user-select: none;
}

.radio {
  all: unset;
  position: absolute;
  pointer-events: none;
}

.score-star {
  width: 2rem;
}

.score-emoji-input {
  svg {
    height: 2.5rem;
    transition: .2s color;
  }
}

