.score-star-input, .score-emoji-input {
  display: flex;
  background-color: var(--background-500);
  gap: .25rem;
  padding: .25rem;
  justify-content: space-around;
  place-items: center;
  label:not(.selected) svg {
    color: var(--background-700);
  }
}

.selected {
  .score-star-input & {
    color: var(--gold-400);
  }
}

.radio-container {
  cursor: pointer;
  user-select: none;
}

.radio {
  all: unset;
  position: absolute;
  pointer-events: none;
}

.score-star {
  width: 2rem;
}

.score-emoji-input {
  svg {
    height: 2.5rem;
    transition: .2s color;
  }
}

