.score-input {
  display: flex;
  background-color: green;
  gap: .25rem;
  padding: .25rem;
  justify-content: space-around;

  .selected {
    color: gold;
  }
}

.radio-container {
  cursor: pointer;
  font-size: 2rem;
}

.radio {
  all: unset;
  position: absolute;
  pointer-events: none;
}

.score-emoji {
  filter: grayscale(100%);
  user-select: none;

  .selected & {
    filter: grayscale(0%);
  }
}

.score-star {
  width: 2rem;
}
