.pg-media-tags ol {
  list-style: none;
  padding: 0px;
}

.pg-media-tag {
  &.spoiler {
    background-color: var(--red-400);
    color: var(--red-100);
    font-weight: 600;
  }

  span {
    float: right;
  }
}

