.loading-bar {
  position: fixed;
  z-index: 101;
  width: 100%;
  height: 2px;
  top: 0;
  left: 0;
  background: linear-gradient(to left, var(--crimson-400), var(--red-400));
  transform: scaleX(0);
  transform-origin: left;
  animation: loading-bar-pulse 1s 3s linear infinite both;
  transition: opacity .2s .3s;

  &.done {
    opacity: 0;
  }

  /* SolidJS portal will always add this unscopable div */
  _div:has(> &) {
    display: contents;
  }
}

@keyframes loading-bar-pulse {
  to, from { filter: brightness(1.8); }
  50% { filter: brightness(1); }
}
