.editor {
  margin: auto;
  padding: 0px;
  max-width: 64rem;
  width: 100%;
  container-type: inline-size;
  container-name: media-editor;

  &::backdrop {
    background-color: #000000b0;
  }
}

.header {
  position: relative;
  display: grid;
  background-color: orange;
  grid-template-columns: auto 1fr auto;
  align-items: end;
  align-content: center;
  isolation: isolate;
  padding: 1rem;
  gap: 1rem;
}

.close {
  position: absolute;
  z-index: 1;
  right: 0px;
  margin: 1rem;
}

.banner {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.cover {
  max-height: 12rem;
  aspect-ratio: 5.5/8;
}

.lineClamp {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

.header-action {
  display: flex;
  gap: .5rem;
}

.main {
  display: grid;
  grid-template-columns: 1fr 15rem;
  padding: 1rem;
  gap: 1rem;
}


.input-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  background-color: red;
}


.form {
  background-color: skyblue;
  display: flex;
  flex-direction: column;
  order: 1;
  
  > input, > select, > textarea {
    padding: 1rem;
    background-color: green;
    border: unset;
    field-sizing: content;
  }
}

.notes {
  background-color: steelblue;
  order: 2;

  .anime & {
    grid-column: 1/-1;
    background-color: steelblue;
  }

  .manga & {
    grid-column: 2/-1;
  }
}

.volume-progress, .repeat {
  .manga & {
    order: 2;
  }
}


.advanced-scoring-header {
  order: 3;
  grid-column: 1/-1;
}
.advanced-score {
  order: 3;
}

@container media-editor (max-width: 56em) {
  .input-grid {
    grid-template-columns: 1fr 1fr;
    background-color: tomato;
  }

  .anime, .manga {
    .finish-date {
      order: 2;
    }
  }
}

@container media-editor (max-width: 42em) {
  .main {
    grid-template-columns: 1fr;
    background-color: pink;
  }
}

@container media-editor (max-width: 28em) {
  .input-grid {
    grid-template-columns: 1fr;
    background-color: purple;
  }


  .manga {
    .volume-progress {
      order: 1;
    }

    .notes {
      grid-column: 1/-1;
    }
  }

  .anime, .manga {
    .finish-date {
      order: 1;
    }
  }
}
