@layer layout {
  .scroll-line-chart {
    overflow: auto;
    direction: rtl;
    cursor: grab;
    background-color: var(--background-400);
    box-shadow: inset 0 -60px var(--background-300);
  }

  .scroll-bar-chart {
    overflow: auto;
    margin-inline: 1rem;
  }
}
