@layer layout {
  .user-profile-stats-header-section {
    container-type: inline-size;
    container-name: user-profile-stats-header;

    .user-profile-stats-general-header {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      justify-content: space-between;
      padding: 0;
      gap: 1rem;

      li {
        display: grid;
        grid-template-columns: 3rem 1fr;
        align-items: center;
        gap: .5rem;
        background-color: var(--background-400);
        border-radius: .25rem;

        .svg-container {
          border-radius: 100%;
          aspect-ratio: 1/1;
          width: 100%;
          padding: .85rem;

          svg {
            width: 100%;
            height: 100%;
          }
        }

        .value {
          font-size: 1.35rem;
          font-weight: 700;
        }
      }

      @container user-profile-stats-header (max-width: 73em) {
        grid-template-columns: repeat(3, 1fr);
      }

      @container user-profile-stats-header (max-width: 50em) {
        grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
      }
    }
  }
}

